{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold text-uppercase">
                    snowtricks
                </h1>
                <p class="lead">
                    Site communautaire de figures de snowboard
                </p>
            </div>
        </div>
    </div>
</header>

<p style="margin-top: -60px; height: 60px; font-size: 2em;" class="mr-3 text-right">
    <a href="#tricks">
        <i class="fas fa-arrow-down" style="color: #fea;"></i>
    </a>
</p>

<div id="corps">
    <div id="tricks">
        <div class="row m-3 mt-4">
            {% for figure in figures %}
                {% if loop.index > 15 %}
                    <div class="figure col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none">
                {% else %}
                    <div class="figure col-sm-6 col-md-4 col-lg-3 col-xl-2 d-block">
                {% endif %}
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <a href="{{ path("figure_affichage", {"slug" : figure.slug}) }}">
                            {% if figure.illustrations|length > 0 %}
                                <img src="{{ figure.illustrations[0].url }}" alt="{{ figure.illustrations[0].alt }}" class="miniatureFigure">
                            {% else %}
                                <img src="/images/enTete.jpg" alt="image par défaut" class="miniatureFigure">
                            {% endif %}
                        </a>
                        <div class="card-header">
                            {% if (app.user != null and app.user == figure.editeur) or (app.user and "ROLE_MODO" in app.user.roles) %}
                                <div class="float-right mb-0 ml-2">
                                    <a href="{{ path("modifier_figure", {"slug" : figure.slug}) }}" class="text-warning">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                    </a>
                                    <a href="{{ path("supprimer_figure", {"slug" : figure.slug}) }}" class="text-danger supprimerFigure" id="{{ figure.slug }}" onclick="return confirm('Voulez vous supprimer la figure {{ figure.nom }} ?');">
                                        <i class="fas fa-trash-alt">
                                        </i>
                                    </a>
                                </div>
                            {% endif %}
                            <a href="{{ path("figure_affichage", {"slug" : figure.slug}) }}">
                                {{ figure.nom }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if app.user %}
    <hr class="my-4">
    <p class="text-center">
        <a href="{{ path("ajout_figure") }}" class="btn btn-warning">
            Ajouter une annonce
        </a>
    </p>
{% endif %}

<p class="text-secondary photographe text-right mt-5 mr-3">
    Site par Frédéric Malard, photo d'en tête par 
    <a href="https://pixabay.com/fr/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1283525">
        Pexels
    </a>
    de 
    <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1283525">
        Pixabay
    </a>
</p>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $pathSupprimer = "{{ path("supprimer_figure", {"slug" : "figure"}) }}";
    </script>

    <script src="/js/gestionFigures.js"></script>

{% endblock %}