<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>snowtricks - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/spacelab.min.css">
        <link rel="stylesheet" href="/css/perso.css">
        <link rel="stylesheet" href="/css/fontAwesomeAll.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="{{ path("accueil") }}">
                <img src="/images/snowTricksLogo.png" alt="logo perso snowBoarder" style="height: 42px;" class="mx-3">
                SnowTricks
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="utilisateur" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {% if app.user.login|length <= 15 %}
                                    {{ app.user.login }}
                                {% else %}
                                    {{ app.user.login | slice(0, 10) }}...
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labeledby="utilisateur">
                                {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                                    <a href="{{ path("gestion_moderateurs") }}" class="dropdown-item text-danger">
                                        <i class="fas fa-user"></i>
                                        gestion modérateurs
                                    </a>
                                {% endif %}
                                {% if app.user and "ROLE_MODO" in app.user.roles %}
                                    <a href="{{ path("gestion_utilisateurs") }}" class="dropdown-item text-danger">
                                        <i class="fas fa-user"></i>
                                        gestion utilisateurs
                                    </a>
                                    <a href="{{ path("consulter_signales") }}" class="dropdown-item text-warning">
                                        <i class="fas fa-comments"></i>
                                        commentaires signalés
                                    </a>
                                {% endif %}
                                <a href="{{ path("liste_figures_persos", {"slug" : app.user.slug}) }}" class="dropdown-item text-success">
                                    <i class="fas fa-pen mr-1"></i>
                                    vos figures
                                </a>
                                <a href="{{ path("liste_favorites", {"slug" : app.user.slug}) }}" class="dropdown-item text-info">
                                    <i class="fas fa-heart mr-1"></i>
                                    favorites
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                    {#{% endif %}#}
                        <a class="nav-link" href="{{ path("accueil") }}">
                            <i class="fas fa-home"></i>
                            accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("accueil", {"_fragment" : "tricks"}) }}" class="nav-link">
                            <i class="fas fa-snowboarding"></i>
                            figures
                        </a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a href="{{ path("deconnexion") }}" class="nav-link">
                                <i class="fas fa-power-off"></i>
                                déconnexion
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path("connexion") }}" class="nav-link">
                                <i class="fas fa-plug"></i>
                                connexion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("app_register") }}" class="nav-link">
                                <i class="fas fa-sign-in-alt"></i>
                                inscription
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% for label, messages in app.flashes %}
            <div class="container alert alert-{{ label }} m-3">
                {% for message in messages %}
                    <p>
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        <p class="text-secondary photographe text-right mt-5 mr-4">
            Site et logo par Frédéric Malard, photo d'en tête par 
            <a href="https://pixabay.com/fr/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1283525">
                Pexels
            </a>
            de 
            <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1283525">
                Pixabay
            </a>
        </p>

        {% if app.user %}
            <p class="text-right mr-4 mb-4">
                <a href="{{ path("suppression_compte_perso", {"slug" : app.user.slug}) }}" onclick="return confirm('Etes vous certains de vouloir supprimer votre compte ? Attention : opération irréversible !!!')">
                    supprimer mon compte
                </a>
            </p>
        {% endif %}

        {% if app.user and app.user.role == "administrateur" %}
            <p class="text-right mr-4 mb-4">
                <a href="{{ path("perte_statut_administrateur", {"slug" : app.user.slug}) }}" onclick="return confirm('Etes vous certains de vouloir redevenir simple modérateur ? Attention : vous ne pourrez redevenir administrateur que si un autre administrateur vous promeut lui même !')">
                    redevenir simple modérateur
                </a>
            </p>
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="/js/fontAwesomeAll.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
