
{% block _figure_modif_nouvellesVideos_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _figure_modif_nouvellesVideos_widget %}
    <h5 class="text-center my-4">
        Ajoutez des vidéos (optionnel)
    </h5>

    {{ form_widget(form) }}

    <div class="form-group text-center my-4">
        <button type="button" class="btn btn-warning" id="ajoutVideo">
            Vidéo supplémentaire
        </button>
    </div>
{% endblock %}

{% block _figure_modif_nouvellesVideos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _figure_modif_nouvellesVideos_entry_widget %}
    <div class="form-group row" id="block_{{ id }}">
        <div class="col-11">
            {{ form_widget(form.url) }}
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-danger w-100" data-action="delete" data-target="#block_{{ id }}">
                X
            </button>
        </div>
    </div>
{% endblock %}
